<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/head"></th:block>
        <title layout:title-pattern="$CONTENT_TITLE">Story's Flower</title>
    </head>

    <body>
        <!-- Header, navbar,...-->
        <header th:replace="fragments/header :: header">This header content is going to be replaced.</header>

        <!-- main content -->
        <div layout:fragment="main-content">
        </div>
        <div class="d-flex position-fixed rounded" id="main-message">
            <p class="main-message m-auto">hihidhdnkdkjg</p>
        </div>
        <!-- footer -->
        <footer class="footer" th:replace="fragments/footer :: footer"></footer>

        <!-- default script (bootstrap, jquery) -->
        <th:block th:replace="fragments/script">
        </th:block>

        <!-- your custom script -->
        <th:block layout:fragment="custom-script"></th:block>
    </body>

</html>