<div xmlns:th="http://www.springframework.org/tags/form">
    <h4>Edit User</h4>
    <div th:if="${userDTO != null}">
        <!--@{/product/{id}(id=${item.id})}-->
        <form method="post" th:action="@{/admin/user/edit/{id}(id=${userDTO.id})}">
            <div class="form-group">
                <label for="firstName">Fist Name</label>

                <input class="form-control" id="firstName" name="firstName" placeholder="Enter Fist Name" th:value="${userDTO.firstName}"
                       type="text">

            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" th:value="${userDTO.lastName}"
                       type="text">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input aria-describedby="emailHelp" class="form-control" id="email" name="email" placeholder="Enter email"
                       th:value="${userDTO.email}" type="email"  disabled>
                <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group">
                <label for="passWord">Password</label>
                <input class="form-control" id="passWord" name="passWord" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <label for="rePassWord">Re Password</label>
                <input class="form-control" id="rePassWord" name="rePassWord" placeholder="Enter the password again"
                       type="password">
            </div>
            <input class="btn btn-success" type="submit" value="Edit">
        </form>

        <div style="margin-top: 10px;" th:if="${rs!= null}">
            <span th:text="${msg}"></span>
            <ul th:each="data : ${errorList}">
                <li style="color: red;" th:text="${data.getDefaultMessage()}"></li>
            </ul>
        </div>
    </div>
</div>