<link href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/webjars/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet">
<link href='/img/favicon.png' rel='icon' type='image/x-icon'/>

<!--<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">-->
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
